@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Medium.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Light.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
